
h1 {
	font-family: helvetica, sans-serif; 
	font-size: 20px;
	color: #222222;
	line-height: 1.3;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}
p{

}
h3{
	font-family: helvetica, sans-serif; 
	font-size: 20px;
	color: #222222;
	line-height: 1.3;
	font-weight: lighter;
	text-transform: uppercase;
	text-align: left;

}
img{

}
#slogan{

}