
#css reset before font import
body{
	margin: 5;
	background-image: url("IMG/IMG_0044.JPG");
	background-size:cover;
}
header{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px; 
}
nav{
	background-color: #E8C675;
	border: 1px black solid;
	padding: 20px; 
  	text-align: center;
  	text-transform: uppercase;
  	font-family: AntiqueOliNorDReg, sans-serif;
  	word-spacing: 1em;
}

#left{
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear:both;
	height: 0;
}

a {
	text-decoration: none;
}
a:hoover {
	background-color: #FF6C35;
} 
h1 {

	font-family: AntiqueOliNorDReg, sans-serif; 
	font-size: 20px;
	color: #223333;
	line-height: 1.3;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}


h2 {

	font-family: proxima nova, sans-serif; 
	font-size: 20px;
	color: #000000;
	line-height: .3;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
  	padding: 1px; 
}
#blurb{ 
	font-family: proxima nova, sans-serif; 
	font-size: 20px;
	color: #222222;
	line-height: 1.0;
	font-weight: lighter;
	border-right-width: : 40em;
	border-left-width: 40em;
	text-align: center;
 }

p{

	font-family: proxima nova, sans-serif; 
	font-size: 20px;
	color: #222222;
	line-height: 1.0;
	font-weight: lighter;
  	width: 570px;
	text-align: center;
}

h3{
	font-family: proxima nova, sans-serif; 
	font-size: 20px;
	color: #73D2ff;
	line-height: 1.0;
	font-weight: lighter;
	text-transform: uppercase;
	text-align: center; 
}

footer {
  font-family: AntiqueOliNorDReg, sans-serif;
  font-size: 15px;
}
#info {
	font-family: proxima nova, sans-serif; 
	font-size: 20px;
	color: #73D2ff;
	line-height: 1.0;
	font-weight: lighter;
	text-transform: uppercase;
	text-align: left;
}
#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}
#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 46%;
}
#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 46%;
}